.App {
  text-align: center;
  
}
.App-table{
  margin: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pagination-div{
  margin-left:20px;
}
.pagination{
  list-style-type:none;
}
.list{
  display: inline-block;
  padding: 5px;
  color: black;
  font-size: 14px;
  font-weight: normal;
  background: #f2f2f2;
  cursor: pointer;
  position: relative;
  border-radius: 4px 4px 4px 4px;
}

.pagination {
  display: flex;
  justify-content: center; 
}

.pagination > li {
  margin-right: 1%;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}
.pagination>li>a {
  text-decoration:none;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
